@font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }

body,
h1, h2, h3, h4, h5, h6,
ul, ol, dl, dd,
p,
fieldset, legend {
	margin: 0;
	padding: 0;
}

body, input, textarea, select, button {
	font-size: 14px;
	font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}

ul, ol {
	list-style: none;
}

table {
	border-collapse: collapse;
}

em {
	font-style: normal
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	vertical-align: top;
}

fieldset {
	border: 0;
}

.inner_box {
    margin : auto;
    width : 1200px;
}
.main {
    padding-top : 100px;
}

header {
    width : 100%;
    height: 108px;
    background-color: beige;
    padding-top : 42px;
    box-sizing: border-box; /*패딩값이 안쪽에 포함이되게 하는 속성*/
    position : fixed;
    z-index : 1000;
}

h1,.gnb,.unb {
    float : left;
}

h1 {
    background-image : url('tire_logo.png');
    background-repeat: no-repeat;
    width: 146px;
    height: 24px;    
}

.hidden {
    display: block;
    width : 1px;
    height: 1px;
    overflow : hidden;
}

.gnb {
    margin-top : 5px;
    margin-left: -50px;
    transform: translateX(50%);
}

.gnb ul li {
    float : left;
    margin-left : 30px;
}

.unb {
    float : right;
}

.unb ul li {
    float : left;
    margin-left : 30px;
    width : 28px;
    height: 25px;
    background-image: url(ico_01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.unb ul li:nth-child(2) {
    background-image: url(ico_02.png);
}

.unb ul li:nth-child(3) {
    background-image: url(ico_03.png);
}

.main_banner {
    height: 788px;
    background-color : coral;
    position : relative; 
}
.box_search {
    position :absolute;
    bottom : 40px;
    width : 754px;
    height: 70px;
    background-color: #fff;
    left: 50%;
    margin-left: -327px;
    border-radius: 35px;
}
.box_search ul li {
    float: left;
    width: 33.333%;
    line-height: 70px;
    text-align: center;
}
.banner_01 {
    position : absolute;
    top : 300px;
    left: 50%;
    margin-left: -600px;
    font-size : 40px;
    font-family: 'BBTreeGR' , sans-serif;
    line-height: 1.4;
}
.color_strong {
    color : brown;
    font-weight: 600;
}
.wrap{
    background-color: #EEE;
}
.banner_01 a {
    height: 70px;
    width: 150px;
    background-color: #111;
    border-radius: 35px;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 70px;
    text-align: center;
}
.box_tire {
    background-color : #660099;
    height : 888px;
}
.banner_02 {
    font-size : 36px;
    color : #fff;
    font-family: 'BBTreeGR' , sans-serif;
    line-height: 150%;
}
.tire_rank ol li {
    font-size : 24px;
    background-color : #fff;
    width : 500px;
    height: 100px;
    margin-top : 20px;
    border-radius : 8px;
    overflow : hidden;
    /*hidden은 무조건 숨김 , scroll 스크롤생성 , auto 자동*/
    padding : 40px 30px;
}
.tire_rank {
    margin-left : 600px;
    margin-top : 40px;
}
.tire_rank img {
    height: 100px;
    width : 100px;
    margin-right: 30px;
}
.tire_rank ol li::before {
    content: "";
    font-size : 36px;
    color : #660099;
    font-weight: 600;
    line-height: 100px;
    margin-right: 30px;
}

.tire_rank ol li:nth-child(1)::before {
    content: "1";
}
.tire_rank ol li:nth-child(2)::before {
    content: "2";
}
.tire_rank ol li:nth-child(3)::before {
    content: "3";
}
.tire_rank ol li .brand {
    display: inline-block;
}
.tire_rank ol li .star {
    display: inline-block;
    float: right;
    line-height: 100px;
}
.text_1 , .text_1+p{
    text-align: center;  
}
.text_1+p {
    margin-top : 20px;
    margin-bottom: 40px;
}
.box_howtobuy ol::after{
    content: '';
    display: block;
    width: 0px; 
    height: 0px;
    clear:both;
}
.box_howtobuy ol li {
    float : left;
    width : 20%;
    text-align: center;
    line-height: 1.5;
}
.box_howtobuy ol li i.tire_setp_icon{
    display: inline-block;
    height: 73px;
    width: 65px;
    background-image: url("./ico_step.png");
    background-repeat: no-repeat;
}
.box_howtobuy ol li:nth-child(2) i.tire_setp_icon{
    background-position: -230px 0;
    width : 75px;
}
.box_howtobuy ol li:nth-child(3) i.tire_setp_icon{
    background-position: -480px 0;
}.box_howtobuy ol li:nth-child(4) i.tire_setp_icon{
    background-position: -720px 0;
    width : 75px;
}
.box_howtobuy ol li:nth-child(5) i.tire_setp_icon{
    background-position: -950px 0;
    width : 85px;
}
.box_sale ul {
    margin-top : 120px;
}
.box_sale ul li{
    float :left;
    text-align:center;
    margin-left:26px;
    background-color: white;
    width: 280px;
    height: 260px;
    border-radius: 10px;
}
.box_sale ul li:first-child{
    margin-left:0;
}
.box_sale ul::after{
    content:'';
    display: block;
    width:0;
    height: 0;
    clear:both;
}
.box_sale ul li img{
    width: 180px;
    height: 180px;
    margin-top: -60px;
}
.box_sale ul li p{
    margin-top: 10px;
}
.box_sale ul li p:first-of-type{
    font-weight: 600;
}
.box_sale ul li p:last-of-type{
    color:red;
}
.middle_banner .inner_box div{
    float: left;
    width: 50%;
    height: 192px;
}
.middle_banner .inner_box div{
    background-color: #c626d5;
    background-image: url('./banner_02.png');
    background-repeat: no-repeat;
    background-position: right;
    padding : 50px;
    box-sizing: border-box;
    color:white;
}
.middle_banner .inner_box div:last-of-type{
    background-image: url('banner_02_20190828.png');
    background-color: #048e52;
}
.middle_banner .inner_box div h3{
    margin-bottom: 10px;
    font-size:20px;
}
.middle_banner .inner_box div p{
    line-height: 1.8;
}
.middle_banner .inner_box:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    clear:both;
}

.box_review {
    width: 100%;
    height: auto;
    height: 720px;
}
.box_review .inner_box{
    position: relative;
}
.box_review ul {
    position: absolute;
    top:100px;
    left:440px;
    width: 770px; 
}
.box_review ul li{
    box-sizing: border-box;
    background-color: white;
    width:100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px 50px;
    position: relative;
    min-height: 150px; /*min-height 최소 높이 지정*/
    max-height: 250px; /*max-height 최대 높이 지정*/
    line-height: 1.6;
}
.avata {
    width: 56px;
    height: 56px;
    background-image: url('ico_profile.png');
    background-position: -66px 0px;
    position: absolute;
    top:20px;
    left:-25px;
}
.use_name{
    font-weight: 600;
}
.prd_name{
    margin-top:20px;
}
.box_believe{
    background-color: white;
    position: relative;
}
.box_believe:before{
    content:"";
    display: block;
    width: 100%;
    height: 150px;
    background-color: #eee;
    position: absolute;
}
.box_believe .inner_box div{
    width:100%;
    height: auto;
    text-align: center;
}
.box_believe .inner_box{
    position: relative;
    z-index: 1;
}
.box_believe .inner_box div .face_photo{
    border-radius: 50%;
    width: 150px;
    margin:-100px;
}
.box_believe .inner_box div p:first-of-type{
    padding-top : 60px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.box_believe .inner_box div p:last-of-type{
    padding-bottom: 30px;
    padding-top:10px;
}
.box_believe .inner_box div i{
    color:#eee;
}
.box_believe .inner_box div p:last-of-type i{
    color:fuchsia;
}